@import './../../styles/variables';

.input {
  background-color: color('light-grey');
  color: color('black');

  border: none;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 2px;
  transition: background-color .2s, color .2s;

  &::placeholder {
    color: color('black');
  }

  &:focus {
    background-color: color('light-grey-2');
    outline: none;
  }
}
