@import './../../styles/variables';

.field {
  display: flex;
  flex-direction: column;

  &:focus-within {
    .label {
      color: color('primary');
    }
  }

  .label {
    order: 1;
    margin-bottom: .5rem;
  }

  .input {
    order: 2;
  }

  .message {
    font-family: font('primary');
    order: 3;
    margin-top: .5rem;
    font-size: .8rem;

    &.is-error { color: color('error') }
    &.is-warning { color: color('warning') }
  }
}
